<nav class="navbar user-main-nav navbar-fixed-top">
  <div class="container">
    <div class="navbar-header ">
      <%= link_to "Event Maker", root_path, class: "navbar-brand no-outline" %>
    </div>
    
    <ul class="main-menu nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "Layout", layouts_path, class: "no-outline" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Dashboard", users_dashboard_index_path, class: "no-outline" %>
        </li>
        <li class="nav-item">
          <% if current_user.username? %>
            <%= link_to "Profile", user_path(current_user.username), class: "no-outline" %>
          <% else %>
            <%= link_to "Profile", user_path(current_user.id), class: "no-outline" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "no-outline" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
