<tr>
  <td>#<%= history.id %></td>
  <td><%= history.cost_type.titleize %></td>
  <td><%= history.amount %></td>
  <td><%= history.note %></td>
  <td><%= history.created_at.strftime("%Y %b %d %H:%M") %></td>
</tr>
