<div class="user-wrapper user-sign-page">
  <div class="user-sign-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-8 hidden-sm hidden-xs">
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="sign-form">
            <h2 class="page-title">Sign In</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "user-account-form"}) do |f| %>
              <div class="form-group js--email-field">
                <% if alert %>
                  <%= f.email_field :email, autofocus: true, class: 'form-control is-invalid', placeholder: "Email" %>
                  <div class="invalid-feedback"></div>
                <% else %>
                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
                  <div class="invalid-feedback"></div>
                <% end %>
              </div>
              <div class="form-group js--password-field">
                <% if alert %>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control is-invalid', placeholder: "Password" %>
                  <div class="invalid-feedback"></div>
                <% else %>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
                  <div class="invalid-feedback"></div>
                <% end %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="form-group remember-block">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      <label class="switch--toggle switch--rectangular switch--theme-green">
                        <%= f.check_box :remember_me, class: 'switch--checkbox' %>
                        <span class="switch--slider"></span>
                      </label>
                    </div>
                    <div class="table-child ver-mid">
                      <span class="sign-note-text">Keep me signed in</span>
                    </div>
                  </div>
                </div>
              <% end %>
              <p class="sign-note-text">
                <%= link_to "Can't access my account", "#", class: "no-outline", data: { toggle: "modal", target: "#troubleModal"  } %>
              </p>
              <div class="form-group">
                <%= f.submit "Sign in", class: "btn btn-block no-outline sign-button" %>
              </div>
              <p class="sign-note-text">Don't have account , <%= link_to "Sign up", new_registration_path(resource_name) %></p>
            <% end %>
            <div class="omi-authenticate">
              <h3 class="omi-title">or Sign in with</h3>
              <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-omi btn-facebook no-outline" do %>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-omi btn-google no-outline" do %>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Google
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade zevent-modal" id="troubleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close-modal no-outline" data-dismiss="modal">
        <%= image_tag "vendor/close.png" %>
      </button>
      <div class="modal-body">
        <h3 class="modal-title">Can't access my account</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <%= link_to "Reset password?", new_password_path(resource_name), class: "btn btn-lg btn-redirect btn-block" %>
          </div>
          <div class="col-md-6 col-sm-12">
            <%= link_to "Unlock account", new_unlock_path(resource_name), class: "btn btn-lg btn-redirect btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( '#user_email' ).keyup( () => {
    $( '.user-registration-form .error-message' ).text( '' )
    if ( validateEmail( $( '#user_email' ).val() ) ) {
      $( '#user_email' ).removeClass('is-invalid');
      $( '#user_email' ).addClass('is-valid');
      $( '.js--email-field .invalid-feedback' ).text('')
    } else {
      $( '#user_email' ).removeClass('is-valid');
      $( '#user_email' ).addClass('is-invalid');
      if ( $( '#user_email' ).val() == "" ) {
        $( '.js--email-field .invalid-feedback' ).text( "Email can't be blank" )
      } else {
        $( '.js--email-field .invalid-feedback' ).text( 'Email is invalid' )
      }
    }
  })

  var validateEmail = email => {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 
    return re.test(email);
  }

  $( '#user_password' ).keyup( () => {
    $( '.user-registration-form .error-message' ).text( '' )
    if ( $( '#user_password' ).val() == "" ) {
      $( '#user_password' ).removeClass('is-valid');
      $( '#user_password' ).addClass('is-invalid');
      $( '.js--password-field .invalid-feedback' ).text( "Password can't be blank" )
    } else {
      $( '#user_password' ).removeClass('is-invalid');
      $( '#user_password' ).addClass('is-valid');
      $( '.js--password-field .invalid-feedback' ).text('')
    }
  })
</script>
