<div class="user-main-wrap">
  <div class="container">
    <h1>User Dashboard</h1>
    <%= link_to "Create New Event", new_users_event_path, class:"btn btn-primary" %>
    <div id="list-event">
      <%= render "/users/dashboard/event" %>
    </div>

    <div>
      Upgrade your account:
      <% if current_user.acc_state == "pro" %>
        <p>Your account state is Professional.</p>
      <% elsif current_user.acc_state == "plus" %>
        <p>Your account state is Professional Plus.</p>
      <% else %>
        <p>Your account state is Free.</p>
      <% end %>

      <% unless current_user.acc_state == "pro" || current_user.acc_state == "plus" %>
        <%= link_to new_users_paypal_path(status: "pro") do %>
          <div class="btn btn-primary" id="pay_with_paypal_pro">
            Professional
          </div>
        <% end %>
      <% end %>

      <% unless current_user.acc_state == "plus" %>
        <%= link_to new_users_paypal_path(status: "pro_plus") do %>
          <div class="btn btn-primary" id="pay_with_paypal_pro_plus">
            Professional Plus
          </div>
        <% end %>

        <%= link_to new_users_paypal_path(status: "https_only") do %>
          <div class="btn btn-primary" id="pay_with_paypal_https">
            Https Package
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      Upgrade your account:
      <% if current_user.acc_state == "pro" %>
        <p>Your account state is Professional.</p>
      <% elsif current_user.acc_state == "plus" %>
        <p>Your account state is Professional Plus.</p>
      <% else %>
        <p>Your account state is Free.</p>
      <% end %>

      <% unless current_user.acc_state == "pro" || current_user.acc_state == "plus" %>
        <%= link_to new_users_baokim_path(status: "pro") do %>
          <div class="btn btn-primary" id="pay_with_baokim_pro" style="background: limegreen">
            Professional
          </div>
        <% end %>
      <% end %>

      <% unless current_user.acc_state == "plus" %>
        <%= link_to new_users_baokim_path(status: "pro_plus") do %>
          <div class="btn btn-primary" id="pay_with_baokim_pro_plus" style="background: limegreen">
            Professional Plus
          </div>
        <% end %>

        <%= link_to new_users_baokim_path(status: "https_only") do %>
          <div class="btn btn-primary" id="pay_with_baokim_https" style="background: limegreen">
            Https Package
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

