<div class="user-wrapper user-sign-page">
  <div class="user-sign-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-8 hidden-sm hidden-xs">
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="sign-form">
            <h2 class="page-title">Unlock account</h2>
            <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "user-account-form"}) do |f| %>
              <div class="form-group js--email-field">
                <% if resource.errors[:email].empty? %>
                  <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: "Email" %>
                <% else %>
                  <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg is-invalid', placeholder: "Email" %>
                <% end %>
                <div class="invalid-feedback"><p><%= resource.errors.full_messages[0] unless resource.errors.empty? %></p></div>
              </div>
              <div class="form-group">
                <%= f.submit "Unlock", class: "btn btn-block no-outline sign-button" %>
              </div>
              <p class="sign-note-text">All done? <%= link_to "Sign in", new_session_path(resource_name) %></p>
            <% end %>
            <div class="omi-authenticate">
              <h3 class="omi-title">or Sign in with</h3>
              <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-omi btn-facebook no-outline" do %>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-omi btn-google no-outline" do %>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Google
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( '#user_email' ).keyup( () => {
    if ( validateEmail( $( '#user_email' ).val() ) ) {
      $( '#user_email' ).removeClass('is-invalid');
      $( '#user_email' ).addClass('is-valid');
      $( '.invalid-feedback' ).text('')
    } else {
      $( '#user_email' ).removeClass('is-valid');
      $( '#user_email' ).addClass('is-invalid');
      if ( $( '#user_email' ).val() == "" ) {
        $( '.invalid-feedback' ).text("Email can't be blank")
      } else {
        $( '.invalid-feedback' ).text("Email is invalid")
      }
    }
  })

  var validateEmail = email => {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; 
    return re.test(email);
  }
</script>
