<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cost_manage_modal">
  Cost Management
</button>

<div class="modal fade" id="cost_manage_modal" tabindex="-1" role="dialog" aria-labelledby="cost_manage_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cost_manage_modalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :cost_management, method: :post, url: users_cost_managements_path,
        remote: true do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>

          <%= f.label :note, class:"form-label" %>
          <%= f.text_field :note, class:"form-control" %>

          <%= f.label :amount, class:"form-label" %>
          <%= f.number_field :amount, class:"form-control", min: 0 %>

          <%= f.label :type, class:"form-label" %>
          <%= f.select(:cost_type, CostManagement.cost_types.keys.map {|role| [role.titleize,role]}) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class:"btn btn-primary",
            id: "btn-submit-create-cost-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
