<div class="user-wrapper user-sign-page">
  <div class="user-sign-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-8 hidden-sm hidden-xs">
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="sign-form">
            <h2 class="page-title">Reset password</h2>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "user-account-form"}) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group js--password-field">
                <% if resource.errors.empty? %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "New password" %>
                  <div class="invalid-feedback"></div>
                <% else %>
                  <% if resource.errors.messages[:password].empty? %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'is-valid form-control', placeholder: "New password" %>
                    <div class="invalid-feedback"></div>
                  <% else %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'is-invalid form-control', placeholder: "New password" %>
                    <div class="invalid-feedback">
                      <%= "Password " + resource.errors.messages[:password][0] %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="form-group js--password-confirmation-field">
                <% if resource.errors.empty? %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm new password" %>
                  <div class="invalid-feedback"></div>
                <% else %>
                  <% if resource.errors.messages[:password_confirmation].empty? && resource.errors.messages[:password].empty? %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control is-valid', placeholder: "Confirm new password" %>
                    <div class="invalid-feedback"></div>
                  <% else %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control is-invalid', placeholder: "Confirm new password" %>
                    <div class="invalid-feedback">
                      <%= "Password confirmation " + resource.errors.messages[:password_confirmation][0] unless resource.errors.messages[:password_confirmation].empty? %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.submit "Reset", class: "btn btn-block no-outline sign-button" %>
              </div>
              <p class="sign-note-text">All done? <%= link_to "Sign in", new_session_path(resource_name) %></p>
            <% end %>
            <div class="omi-authenticate">
              <h3 class="omi-title">or Sign in with</h3>
              <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-omi btn-facebook no-outline" do %>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Facebook
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-omi btn-google no-outline" do %>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Google
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $( '#user_password' ).keyup( () => {
    if ( $( '#user_password' ).val().length >= 8 ) {
      $( '#user_password' ).removeClass('is-invalid');
      $( '#user_password' ).addClass('is-valid');
      $( '.js--password-field .invalid-feedback' ).text('')
    } else {
      $( '#user_password' ).removeClass('is-valid');
      $( '#user_password' ).addClass('is-invalid');
      if ( $( '#user_password' ).val() == "" ) {
        $( '.js--password-field .invalid-feedback' ).text("Password can't be blank")
      } else {
        $( '.js--password-field .invalid-feedback' ).text("Password is too short (minimum is 8 characters)")
      }
    }
  })

  $( '#user_password_confirmation' ).keyup( () => {
    if ( $( '#user_password_confirmation' ).val() == $( '#user_password' ).val() && $( '#user_password' ).val().length >= 8 ) {
      $( '#user_password_confirmation' ).removeClass('is-invalid');
      $( '#user_password_confirmation' ).addClass('is-valid');
      $( '.js--password-confirmation-field .invalid-feedback' ).text('')
    } else {
      $( '#user_password_confirmation' ).removeClass('is-valid');
      $( '#user_password_confirmation' ).addClass('is-invalid');
      $( '.js--password-confirmation-field .invalid-feedback' ).text("Password confirmation doesn't match Password")
    }
  })
</script>
