<button type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#create_layout_modal">
  Create new layout
</button>

<div class="modal fade" id="create_layout_modal" tabindex="-1" role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= form_for :layout, method: :post, url: admins_layouts_path,
        remote: true do |f| %>
        <div class="modal-body">
          <%= f.label :title, class:"form-label" %>
          <%= f.text_field :title, class:"form-control" %>

          <%= f.label :html, class:"form-label" %>
          <%= f.text_area :html, class:"form-control" %>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <%= f.label :start_date, class:"form-label", for:"regular1"%>
                <%= f.text_field :start_time, class:"form-control", type: "text",
                  id: "datepicker-start-layout-create" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <%= f.label :end_date, class:"form-label", for:"regular1"%>
                <%= f.text_field :end_time, class:"form-control", type: "text",
                  id: "datepicker-end-layout-create" %>
              </div>
            </div>
          </div>

          <%= f.label :main_description, class:"form-label" %>
          <%= f.text_area :main_description, class:"form-control" %>

          <%= f.label :sub_description, class:"form-label" %>
          <%= f.text_area :sub_description, class:"form-control" %>

          <%= f.label :address, class:"form-label" %>
          <%= f.text_field :address, class:"form-control" %>

          <div class="row" style="margin: 5px 0;">
            <%= f.label :event_type, class:"form-label" %>
            <%= f.select :event_type_id, EventType.all.collect { |e| [ e.label, e.id ] },
              class:"form-control" %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class:"btn btn-primary",
            id: "btn-submit-create-layout-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
