<div class="admin-main-dashboard">
  <div class="admin-dashboard-screen table-panel">
    <div class="admin-slide-left table-child">
      <%= render "admins/dashboard/dashboard_slide" %>
    </div>
    <div class="dashboard-main table-child">
      <div class="dashboard-layout dashboard-dashboard">
        <div class="dashboard-header">
          <h2 class="admin-page-title">Dashboard</h2>
        </div>
        <div class="dashboard-body">
          <div class="dashboard-main-item">
            <div class="row">
              <div class="col-md-3">
                <div class="dashboard-item text-center">
                  <h4 class="count"><%= @event_count %></h4> Event created
                </div>
              </div>
              <div class="col-md-3">
                <div class="dashboard-item text-center">
                  <h4 class="count"><%= @user_count %></h4> User sign up
                </div>
              </div>
              <div class="col-md-3">
                <div class="dashboard-item text-center">
                  <h4 class="count"><%= @layout_count %></h4> Themes
                </div>
              </div>
              <div class="col-md-3">
                <div class="dashboard-item text-center">
                  <h4 class="count"><%= @message_count %></h4> Contact Message
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-analytics">
            <h3 class="dashboard-ana-title">
              Analytics
            </h3>
            <div class="analystic-content">
              <div class="fieldset-1">
                <div class="chart-1">
                  <iframe width="490" height="259" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJzHNh4vwxpT_4Ib4YIVVANp7WyYys0_ZFfLmRCrH0TjRFggE4ei8rKRzY6JDdHrl1Y0tDc002cEZD/pubchart?oid=1391189129&amp;format=interactive"></iframe>
                </div>
                <div class="chart-2">
                  <iframe width="490" height="303" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJzHNh4vwxpT_4Ib4YIVVANp7WyYys0_ZFfLmRCrH0TjRFggE4ei8rKRzY6JDdHrl1Y0tDc002cEZD/pubchart?oid=2144460812&amp;format=interactive"></iframe>
                </div>
              </div>
              <div class="fieldset-2">
                <div class="chart-3">
                  <iframe width="1010" height="602" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSJzHNh4vwxpT_4Ib4YIVVANp7WyYys0_ZFfLmRCrH0TjRFggE4ei8rKRzY6JDdHrl1Y0tDc002cEZD/pubchart?oid=1993055154&amp;format=interactive"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
